.book-metadata-container {
  height: calc(100vh - 10rem);
  overflow-y: auto;
  transition: transform 0.2s, left 0.2s;
  background-color: var(--surface-card);
  border-radius: 12px;
  padding: 1.5rem 2rem;
}

.book-metadata {
  color: var(--text-color);
}

.book-header {
  display: flex;
  gap: 16px;
}

.cover-container {
  max-width: 200px;
  flex-shrink: 0;
}

.book-cover {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.metadata {
  flex-grow: 1;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}

.book-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.button-group {
  display: flex;
  gap: 1.5rem;
}

.p-button-sm {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.p-button-text {
  color: var(--primary-color);
}

.author {
  font-size: 1.1rem;
  color: var(--text-color-secondary);
  margin: 9px 0;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 12px;
}

.category {
  background-color: var(--text-color);
  color: #555;
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 16px;
}

.details p {
  margin: 4px 0;
}

.book-description {
  margin-top: 16px;
}

.book-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 1rem 0;
}

.book-subtitle {
  font-size: 1rem;
  color: var(--text-color-secondary);
  margin-top: 0.25rem;
  font-weight: normal;
}
