<form [formGroup]="bookMetadataForm" (ngSubmit)="onSave()" class="h-full flex pt-4 flex-col">
  <div class="overflow-y-scroll flex-1">
    <div class="form-row">
      <label for="title" class="label">Title</label>
      <div class="input-container">
        <input pInputText id="title" formControlName="title" class="input"/>
        <p-button icon="pi pi-arrow-left" [outlined]="true" class="arrow-button" (click)="copyFetchedToCurrent('title')"/>
        <input pInputText [value]="fetchedMetadata.title" class="input"/>
      </div>
    </div>

    <div class="form-row">
      <label for="authors" class="label">Authors</label>
      <div class="input-container">
        <input pInputText id="authors" formControlName="authors" class="input"/>
        <p-button icon="pi pi-arrow-left" [outlined]="true" class="arrow-button" (click)="copyFetchedToCurrent('authors')"/>
        <input pInputText [value]="fetchedAuthorsString()" class="input"/>
      </div>
    </div>

    <div class="form-row">
      <label for="categories" class="label">Categories</label>
      <div class="input-container">
        <input pInputText id="categories" formControlName="categories" class="input"/>
        <p-button icon="pi pi-arrow-left" [outlined]="true" class="arrow-button" (click)="copyFetchedToCurrent('categories')"/>
        <input pInputText [value]="fetchedCategoriesString()" class="input"/>
      </div>
    </div>

    <div class="form-row">
      <label for="publisher" class="label">Publisher</label>
      <div class="input-container">
        <input pInputText id="publisher" formControlName="publisher" class="input"/>
        <p-button icon="pi pi-arrow-left" [outlined]="true" class="arrow-button" (click)="copyFetchedToCurrent('publisher')"/>
        <input pInputText [value]="fetchedMetadata.publisher" class="input"/>
      </div>
    </div>

    <div class="form-row">
      <label for="publishedDate" class="label">Published</label>
      <div class="input-container">
        <input pInputText id="publishedDate" formControlName="publishedDate" class="input"/>
        <p-button icon="pi pi-arrow-left" [outlined]="true" class="arrow-button" (click)="copyFetchedToCurrent('publishedDate')"/>
        <input pInputText [value]="fetchedMetadata.publishedDate" class="input"/>
      </div>
    </div>

    <div class="form-row">
      <label for="isbn10" class="label">ISBN-10</label>
      <div class="input-container">
        <input pInputText id="isbn10" formControlName="isbn10" class="input"/>
        <p-button icon="pi pi-arrow-left" [outlined]="true" class="arrow-button" (click)="copyFetchedToCurrent('isbn10')"/>
        <input pInputText [value]="fetchedMetadata.isbn10" class="input"/>
      </div>
    </div>

    <div class="form-row">
      <label for="language" class="label">Language</label>
      <div class="input-container">
        <input pInputText id="language" formControlName="language" class="input"/>
        <p-button icon="pi pi-arrow-left" [outlined]="true" class="arrow-button" (click)="copyFetchedToCurrent('language')"/>
        <input pInputText [value]="fetchedMetadata.language" class="input"/>
      </div>
    </div>
    <div class="form-row">
      <label for="pageCount" class="label">Pages</label>
      <div class="input-container">
        <input pInputText id="pageCount" formControlName="pageCount" class="input"/>
        <p-button icon="pi pi-arrow-left" [outlined]="true" class="arrow-button" (click)="copyFetchedToCurrent('pageCount')"/>
        <input pInputText [value]="fetchedMetadata.pageCount" class="input"/>
      </div>
    </div>

    <div class="form-row">
      <label for="description" class="label">Description</label>
      <div class="input-container">
        <textarea id="description" formControlName="description" class="input"></textarea>
        <p-button icon="pi pi-arrow-left" [outlined]="true" class="arrow-button" (click)="copyFetchedToCurrent('description')"/>
        <textarea [value]="fetchedMetadata.description" class="input"></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="label"></label>
      <div class="input-container">
        <img *ngIf="!updateThumbnailUrl" [src]="coverImageSrc(currentBookId)" alt="Book Thumbnail" class="thumbnail"/>
        <img *ngIf="updateThumbnailUrl" [src]="fetchedMetadata.thumbnailUrl" alt="Fetched Thumbnail" class="thumbnail"/>
        <p-button icon="pi pi-arrow-left" [outlined]="true" class="arrow-button" (click)="shouldUpdateThumbnail()"/>
        <img [src]="fetchedMetadata.thumbnailUrl" alt="Fetched Thumbnail" class="thumbnail"/>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-x-4 mt-auto">
    <p-divider></p-divider>
    <div class="flex justify-between">
      <p-button label="Back" icon="pi pi-arrow-left" severity="warn" (onClick)="goBackClick()"></p-button>
      <div class="flex gap-x-4 justify-end">
        <p-button label="Cancel" icon="pi pi-times" severity="secondary"></p-button>
        <p-button label="Save" icon="pi pi-check" severity="primary" type="submit"></p-button>
      </div>
    </div>
  </div>

</form>

