<div class="book-list"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="loadMore()">
  <div class="book-item" *ngFor="let book of books">
    <img [src]="coverImageSrc(book.id)" class="book-cover placeholder" alt="Cover of {{ book.metadata.title }}" loading="lazy"/>
    <div class="book-info">
      <h4>{{ book.metadata.title }}</h4>
      <p>{{ getAuthorNames(book) }}</p>
      <p-button [rounded]="true" icon="pi pi-eye" class="view-btn" (click)="readBook(book.id)"></p-button>
      <p-button [rounded]="true" icon="pi pi-info" class="read-btn" (click)="openBookInfo(book.id, book.libraryId)"></p-button>
    </div>
  </div>
</div>
