.library-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 10px 17px;
  background-color: var(--surface-card);
  border-radius: 12px 12px 0 0;
  margin-bottom: 15px;
}

.library-header-dial {
  display: flex;
  margin-right: 5px;
}

.library-header-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.library-name {
  margin: 0;
  color: var(--text-color);
}

.zoom-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.virtual-scroller {
  width: 100%;
  height: calc(100vh - 210px);
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.virtual-scroller-item {
  background-color: var(--surface-card);
  height: 240px;
  width: 150px;
  border-radius: 8px;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.3rem;
  padding: 1rem;
  width: 100%;
  overflow: hidden;
  align-items: start;
}

.book-cover {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.book-title {
  font-size: 0.85rem;
  color: var(--text-color);
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 6px 6px 5px;
}

.book-authors {
  color: var(--text-color-secondary);
  font-size: 0.8rem;
  line-height: 1.4;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.view-btn, .read-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  margin-top: -40px;
  transition: opacity 0.2s ease-in-out;
}

.virtual-scroller-item:hover .view-btn,
.virtual-scroller-item:hover .read-btn {
  display: block;
}

.virtual-scroller-item:hover .read-btn {
  top: 70%;
}

.virtual-scroller-item:hover .book-cover {
  filter: blur(2px);
}




