
<div class="book-list-container">
  <div class="last-read-title-container">
    <h2 class="last-read-title">{{ title }}</h2>
    <div *ngIf="booksSignal().length === 0">
      <h4>No books available.</h4>
    </div>
  </div>
  <div class="book-list"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       #scrollContainer
       [horizontal]="true">
    <div class="book-item" *ngFor="let book of booksSignal()">
      <img [src]="coverImageSrc(book.id)" class="book-cover" alt="Cover of {{ book.metadata.title }}" loading="lazy"/>
      <div class="book-info">
        <h4>{{ book.metadata.title }}</h4>
        <p>{{ getAuthorNames(book) }}</p>
        <p-button [rounded]="true" icon="pi pi-eye" class="view-btn" (click)="openBook(book)"></p-button>
        <p-button [rounded]="true" icon="pi pi-info" class="read-btn" (click)="openBookInfo(book.id, book.libraryId)"></p-button>
      </div>
    </div>
  </div>
</div>
