
<div class="book-list-container">
  <div class="last-read-title-container">
    <h2 class="last-read-title">{{ title }}</h2>
    <div *ngIf="(books$ | async)?.length === 0">
      <h4>No books available.</h4>
    </div>
  </div>
  <div class="book-list"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       #scrollContainer
       [horizontal]="true">
    <div class="book-item" *ngFor="let book of books$ | async">
      <app-book-card [book]="book" [isCheckboxEnabled]="false"></app-book-card>
    </div>
  </div>
</div>
