<div class="dashboard-scroller-container">
  <h2 class="dashboard-scroller-title">{{ title }}</h2>
  <div *ngIf="(bookState$ | async)?.books?.length === 0">
    <h4>No books available.</h4>
  </div>
  <div class="infinite-scroller"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       #scrollContainer
       [horizontal]="true">
    <div class="infinite-scroller-a-book" *ngFor="let book of (bookState$ | async)?.books">
      <app-book-card [book]="book" [isCheckboxEnabled]="false"></app-book-card>
    </div>
  </div>
</div>
