<p-table
  [value]="books"
  [resizableColumns]="true"
  showGridlines
  stripedRows
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - 160px)'"
  [virtualScroll]="true"
  [virtualScrollItemSize]="46"
  [(selection)]="selectedBooks"
  (onHeaderCheckboxToggle)="onHeaderCheckboxToggle($event)"
  (onRowSelect)="onRowSelect($event)"
  (onRowUnselect)="onRowUnselect($event)"
  (onEditComplete)="onEditComplete($event)">
  <ng-template #header>
    <tr>
      <th class="max-w-16">Cover</th>
      <th pResizableColumn>Title</th>
      <th pResizableColumn>Authors</th>
      <th pResizableColumn>Publisher</th>
      <th>Published</th>
      <th>Genres</th>
      <th>ISBN</th>
      <th>Language</th>
      <th>Rating</th>
      <th>Pages</th>
      <th>Reviews</th>
      <th>
        <p-tableHeaderCheckbox/>
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-book>
    <tr *ngIf="book.metadata as metadata" style="height:46px">
      <td (click)="openMetadataCenter(book.id)">
        <img [src]="urlHelper.getCoverUrl(book.id, metadata.coverUpdatedOn)" alt="Book Cover" class="size-7"/>
      </td>

      <td [pEditableColumn]="metadata.title"
          pEditableColumnField="metadata.title"
          class="min-w-[25rem] max-w-[35rem] overflow-hidden truncate"
          [pEditableColumnRowIndex]="book.id"
          [title]="book.metadata?.id">
        <p-cellEditor>
          <ng-template #input>
            <input pInputText class="w-full max-w-full" type="text" [(ngModel)]="metadata.title"/>
          </ng-template>
          <ng-template #output>
            {{ metadata.title }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td class="min-w-[10rem] max-w-[15rem] overflow-hidden truncate">{{ getAuthorNames(metadata.authors) }}</td>

      <td [pEditableColumn]="metadata.publisher"
          pEditableColumnField="metadata.publisher"
          class="min-w-[6rem] max-w-[10rem] overflow-hidden truncate"
          [pEditableColumnRowIndex]="book.id">
        <p-cellEditor>
          <ng-template #input>
            <input pInputText class="w-full max-w-full" type="text" [(ngModel)]="metadata.publisher"/>
          </ng-template>
          <ng-template #output>
            {{ metadata.publisher }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td [pEditableColumn]="metadata.publishedDate"
          pEditableColumnField="metadata.publishedDate"
          class="min-w-[8rem] max-w-[8rem] overflow-hidden truncate"
          [pEditableColumnRowIndex]="book.id">
        <p-cellEditor>
          <ng-template #input>
            <input pInputText class="w-full min-w-[7.5rem] max-w-full" type="text" [(ngModel)]="metadata.publishedDate"/>
          </ng-template>
          <ng-template #output>
            {{ metadata.publishedDate }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td class="min-w-[8rem] max-w-[10rem] overflow-hidden truncate">{{ getGenres(metadata.categories) }}</td>

      <td [pEditableColumn]="metadata.isbn10"
          pEditableColumnField="metadata.isbn10"
          class="overflow-hidden truncate max-w-15"
          [pEditableColumnRowIndex]="book.id">
        <p-cellEditor>
          <ng-template #input>
            <input pInputText type="text" [(ngModel)]="metadata.isbn10" class="w-full"/>
          </ng-template>
          <ng-template #output>
            {{ metadata.isbn10 }}
          </ng-template>
        </p-cellEditor>
      </td>

      <td class="max-w-28 overflow-hidden truncate">{{ metadata.language }}</td>
      <td class="max-w-30 overflow-hidden truncate">
        <ng-container>
          <p-rating
            [(ngModel)]="metadata.rating"
            readonly
            stars="5"
            [style.--p-rating-icon-active-color]="getStarColor(metadata.rating)">
          </p-rating>
        </ng-container>
      </td>
      <td class="max-w-32 overflow-hidden truncate">{{ metadata.pageCount }}</td>
      <td class="max-w-32 overflow-hidden truncate">{{ metadata.reviewCount }}</td>
      <td class="max-w-16">
        <p-tableCheckbox [value]="book"></p-tableCheckbox>
      </td>
    </tr>
  </ng-template>
</p-table>
