<div class="search-container">
  <div class="search-input-wrapper">
    <i class="pi pi-search search-icon"></i>
    <input
      style="width: 400px;"
      type="text"
      pInputText
      [(ngModel)]="searchQuery"
      (input)="onSearchInputChange()"
      placeholder="Search books..."
      class="search-input"
    />
    <p-button *ngIf="searchQuery" icon="pi pi-times" (click)="clearSearch()" [text]="true" [rounded]="true" class="clear-btn" aria-label="Clear Search"></p-button>
  </div>

  <div class="search-dropdown layout-menu" [class.show]="(books.length > 0)">
    <ng-container *ngIf="books.length > 0; else noResults">
      <div class="search-dropdown-item" *ngFor="let book of books" (click)="onBookClick(book)">
        <img [src]="getBookCoverUrl(book.id)" alt="Book Cover" class="search-book-cover" />
        <span class="search-book-name">{{ book.metadata?.title }}</span>
      </div>
    </ng-container>

    <ng-template #noResults>
      <div class="search-dropdown-item">
        <span>No results found</span>
      </div>
    </ng-template>
  </div>
</div>
