.search-container {
  margin-left: 20px;
  position: relative;
}

.search-dropdown {
  position: absolute;
  left: 0;
  background-color: var(--surface-overlay);
  border: 1px solid var(--surface-border);
  border-radius: var(--border-radius);
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  width: 600px;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.search-dropdown.show {
  opacity: 1;
  height: auto;
}

.search-dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--surface-hover);
  }
}

.search-book-cover {
  width: 25px;
  height: 37px;
  object-fit: cover;
  max-width: 100px;
  max-height: 150px;
  border-radius: 4px;
  margin-right: 10px;
}

.search-book-name {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  flex-grow: 1;
}

.search-dropdown.show {
  opacity: 1;
  height: auto;
  transition: opacity 0.3s ease, height 0.4s ease-in-out;
}

.clear-btn {
  color: var(--text-color-secondary);
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.search-dropdown-item.no-results {
  font-size: 14px;
  color: var(--text-color-secondary);
  padding: 10px;
  text-align: center;
  font-style: italic;
}

