<div class="dashboard">

  <div class="dashboard-no-library" *ngIf="isLibrariesEmpty$ | async; else dashboardScroller">
    <h1 class="no-library-header">
      Looks like you haven't added a library yet. Let's add one!
    </h1>
    <p-button
      label="Add a Library"
      icon="pi pi-plus"
      styleClass="p-button-rounded p-button-outlined"
      (click)="createNewLibrary($event)">
    </p-button>
  </div>

  <ng-template #dashboardScroller>
    <app-dashboard-scroller [bookListType]="'lastRead'" title="Last Read Books"></app-dashboard-scroller>
    <app-dashboard-scroller [bookListType]="'latestAdded'" title="Latest Added Books"></app-dashboard-scroller>
  </ng-template>

</div>
