@use "variables";

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 5.2rem 1.2rem 2rem 3.6rem;
    transition: margin-left variables.$transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}
