.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-fixed-dimensions {
  height: 150px;
  width: 100px;
  object-fit: fill;
}
