<p class="text-left text-2xl mb-2.5 p-1.25">{{ title }}</p>

<div class="pt-12 flex justify-center items-center" *ngIf="!books || books.length === 0">
  <p class="text-sm">
    {{ bookListType === 'lastRead' ? "You haven't read any books yet!" : "No books have been added to BookLore!" }}
  </p>
</div>

<div class="flex flex-row overflow-x-auto overflow-y-hidden snap-x snap-mandatory p-1 gap-5 h-full box-border"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     #scrollContainer
     [horizontal]="true">

  <div class="overflow-hidden bg-[var(--card-background)] rounded-lg flex-[0_0_9.5%] snap-start relative" *ngFor="let book of books">
    <app-book-card [book]="book" [isCheckboxEnabled]="false"></app-book-card>
  </div>

</div>

<div *ngIf="books === null">
  <p class="text-sm">Failed to load books! :(</p>
</div>
