<p-stepper [value]="1">
  <p-step-list>
    <p-step [value]="1">Library Details</p-step>
    <p-step [value]="2">Select Directory</p-step>
  </p-step-list>
  <p-step-panels>
    <p-step-panel [value]="1">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col w-[40rem] h-[25rem]">
          <div class="flex flex-auto justify-center items-center font-medium border-[var(--border-color)] border-2 border-dashed">
            <div class="flex flex-col gap-10">
              <div class="flex items-center gap-8">
                <p>Library Name: </p>
                <input type="text" pInputText [(ngModel)]="chosenLibraryName" placeholder="Enter library name..."/>
              </div>
              <div class="flex items-center gap-11">
                <p>Library Icon:</p>
                <div *ngIf="!selectedIcon">
                  <p-button label="Select Icon" icon="pi pi-search" (onClick)="openIconPicker()"></p-button>
                </div>
                <div *ngIf="selectedIcon">
                  <i [class]="selectedIcon" class="text-xl mr-3"></i>
                  <p-button icon="pi pi-times" (onClick)="clearSelectedIcon()" [rounded]="true" [text]="true" [outlined]="true" severity="danger"></p-button>
                </div>
              </div>
              <div class="flex items-center gap-3">
                <p>Monitor Folders: </p>
                <p-toggleswitch [(ngModel)]="watch" />
              </div>
            </div>
            <app-icon-picker (iconSelected)="onIconSelected($event)"></app-icon-picker>
          </div>
          <div class="flex pt-6 justify-end">
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" [disabled]="!isLibraryDetailsValid()" (onClick)="validateLibraryNameAndProceed(activateCallback)" />
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <p-step-panel [value]="2">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col w-[40rem] h-[25rem]">
          <div class="flex flex-auto justify-center items-center font-medium border-[var(--border-color)] border-2 border-dashed">
            <div class="flex flex-col justify-center items-center">
              <p-button
                severity="info"
                label="Add book folders"
                [outlined]="true"
                (onClick)="openDirectoryPicker()">
              </p-button>
              <p-table [value]="folders" class="mt-4 max-w-[35rem] max-h-[11.5rem] !overflow-scroll">
                <ng-template pTemplate="body" let-folder let-i="rowIndex">
                  <tr>
                    <td class="!p-1 !px-2 !border-0">{{ folder }}</td>
                    <td class="!p-1 !px-2 !border-0">
                      <p-button
                        icon="pi pi-times"
                        [rounded]="true"
                        [text]="true"
                        severity="danger"
                        (onClick)="removeFolder(i)"
                      />
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <div class="flex pt-6 justify-between">
            <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(1)" />
            <p-button severity="success" label="Save" icon="pi pi-save" [disabled]="!isDirectorySelectionValid()" (onClick)="createOrUpdateLibrary()"></p-button>
          </div>
        </div>
      </ng-template>
    </p-step-panel>
  </p-step-panels>
</p-stepper>
