<div class="min-h-screen flex flex-col">
  <div class="mb-6 flex items-center gap-4">
    <input
      id="disabled-input"
      type="text"
      pInputText
      [value]="selectedProductName"
      [disabled]="true"
      class="w-full p-2 text-base"
    />
    <p-button label="Select" severity="success" class="w-[100px]" (click)="onSelect()"></p-button>
  </div>

  <ng-container>
    <div class="overflow-x-auto">
      <p-table [value]="paths" [tableStyle]="{ 'min-width': '50rem' }" class="product-table w-full">
        <ng-template pTemplate="header">
          <tr>
            <th class="w-[10%]">Type</th>
            <th class="w-[90%]">Name</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr class="cursor-pointer hover:bg-white/10" (click)="onRowClick(product)">
            <td>
              <i *ngIf="product === '...'" class="pi pi-arrow-up"></i>
              <i *ngIf="product !== '...'" class="pi pi-folder-open"></i>
            </td>
            <td>{{ product }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-container>
</div>
