<div class="library-header">
  <div class="library-header-dial">
    <h3 class="library-name">{{ title() }}</h3>
    <p-speedDial
      [model]="items!"
      direction="right"
      transitionDelay="80"
      showIcon="pi pi-ellipsis-v"
      buttonClassName="p-button-text p-button-contrast"
      hideIcon="pi pi-times">
    </p-speedDial>
  </div>
  <div class="library-header-right">
    <p-dropdown
      optionLabel="name"
      placeholder="Select Sorting"/>
    <div class="zoom-controls">
      <p-button icon="pi pi-minus" [rounded]="true" [outlined]="true" severity="info"></p-button>
      <p-button icon="pi pi-plus" [rounded]="true" [outlined]="true" severity="info"></p-button>
    </div>
  </div>
</div>

<div class="content-container">
  <div class="card-container">
    <virtual-scroller class="virtual-scroller" #scroll [items]="books()">
      <div class="grid" #container>
        <div class="virtual-scroller-item" *ngFor="let book of scroll.viewPortItems">
          <app-book-card [book]="book"></app-book-card>
        </div>
      </div>
    </virtual-scroller>
  </div>
</div>
