.library-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 10px 17px;
  background-color: var(--surface-card);
  border-radius: 12px 12px 0 0;
  margin-bottom: 15px;
}

.library-header-dial {
  display: flex;
}

.library-header-right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.library-name {
  margin: 0;
  color: var(--text-color);
}

.zoom-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.virtual-scroller {
  width: 100%;
  height: calc(100vh - 210px);
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.virtual-scroller-item {
  height: 243px;
  width: 150px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1.3rem;
  padding: 1rem;
  width: 100%;
  overflow: hidden;
  align-items: start;
}

.empty-message {
  display: flex;
  justify-content: space-around;
}

.button-container {
  display: flex;
  gap: 10px; /* Adds 10px space between buttons */
}
