<div class="library-header">
  <div class="library-header-dial">
    <h3 class="library-name">{{ (entityType$ | async) }}: {{ (entity$ | async)?.name }}</h3>
    <p-speedDial
      [model]="items!"
      direction="right"
      transitionDelay="80"
      showIcon="pi pi-ellipsis-v"
      buttonClassName="p-button-text p-button-contrast"
      hideIcon="pi pi-times">
    </p-speedDial>
  </div>

  <div *ngIf="isAnyBookSelected()">
    <p-button icon="pi pi-ellipsis-v" label="Options" severity="primary" [rounded]="true" [outlined]="true" (click)="menu.toggle($event)"></p-button>
    <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
    <p-button icon="pi pi-times" label="Deselect All" severity="warning" [rounded]="true" [outlined]="true" (click)="deselectAllBooks()"></p-button>
  </div>

  <div class="library-header-right">
    <p-dropdown optionLabel="name" placeholder="Select Sorting" />
    <div class="zoom-controls">
      <p-button icon="pi pi-minus" [rounded]="true" [outlined]="true" severity="info"></p-button>
      <p-button icon="pi pi-plus" [rounded]="true" [outlined]="true" severity="info"></p-button>
    </div>
  </div>
</div>

<div class="content-container">
  <div class="card-container" *ngIf="books$ | async as books">
    <virtual-scroller *ngIf="books.length > 0" class="virtual-scroller" #scroll [items]="books">
      <div class="grid" #container>
        <div class="virtual-scroller-item" *ngFor="let book of scroll.viewPortItems">
          <app-book-card
            [book]="book"
            [onBookSelect]="handleBookSelect.bind(this)">
          </app-book-card>
        </div>
      </div>
    </virtual-scroller>
    <div *ngIf="books.length === 0" class="empty-message">
      <p>No books available to display.</p>
    </div>
  </div>
</div>
