.book-card {
  background-color: var(--card-background);
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  transition: border 0.2s;

  &.selected {
    border: 2px solid var(--primary-color);
  }
}

.cover-container {
  position: relative;
}

.book-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-title {
  flex-grow: 1;
  font-size: 0.9rem;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding-left: 6px;
}

.book-cover {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
  transition: filter 0.2s ease-in-out;
}

.info-btn,
.read-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  transition: opacity 0.2s ease-in-out;
}

.info-btn {
  top: 25%;
}

.read-btn {
  bottom: 25%;
}

.cover-container:hover .book-cover {
  filter: blur(2px);
}

.cover-container:hover .info-btn,
.cover-container:hover .read-btn {
  display: block;
}

.select-checkbox {
  position: absolute;
  top: 8px;
  right: 8px;
  display: none;
  z-index: 1;
}

.cover-container:hover .select-checkbox {
  display: block;
}

.book-card.selected .select-checkbox {
  display: block;
}
