.book-card {
  background-color: var(--card-background);
  border-radius: 0 0 8px 8px;
  position: relative;
  overflow: hidden;
  transition: border 0.2s;

  &.selected {
    border: 2px solid var(--primary-color);
  }
}

.cover-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-container.shimmer {
  /*background: linear-gradient(90deg, #2a2a2a 25%, #3a3a3a 50%, #2a2a2a 75%);
  background-size: 200% 100%;
  animation: shimmer 2.5s infinite linear;*/
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.book-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: opacity 0.3s ease-in;
  opacity: 0;
}

.cover-container img.loaded {
  opacity: 1;
}

.cover-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.6) 100%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

.cover-container:hover::after {
  opacity: 1;
}

.book-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-title {
  flex-grow: 1;
  font-size: 0.9rem;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.info-btn,
.read-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;
}

.info-btn {
  top: 21%;
}

.read-btn {
  bottom: 21%;
}

.cover-container:hover .info-btn,
.cover-container:hover .read-btn {
  opacity: 1;
  visibility: visible;
}

.cover-container.center-info-btn .info-btn {
  top: 50%;
  transform: translate(-50%, -50%);
}

.select-checkbox {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
  z-index: 2;
}

.cover-container:hover .select-checkbox,
.book-card.selected .select-checkbox {
  opacity: 1;
  visibility: visible;
}

.cover-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px;
  z-index: 1;
  opacity: 0.9;
}

.series-number-overlay {
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 0.75rem;
  padding: 1px 3px;
  border-radius: 3px;
  z-index: 3;
}

.series-count-overlay {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: var(--primary-color);
  color: var(--primary-text-color-dark);
  font-size: 0.75rem;
  padding: 1px 6px;
  border-radius: 3px;
  z-index: 3;
  white-space: nowrap;
  user-select: none;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

::ng-deep .progress-incomplete .p-progressbar-value {
  background-color: #3b82f6;
}

::ng-deep .progress-complete .p-progressbar-value {
  background-color: #22c55e;
}

::ng-deep p-progressbar {
  --p-progressbar-border-radius: 0 !important;
}
