<div class="dashboard">

  <div class="dashboard-no-library" *ngIf="isLibrariesEmpty$ | async; else dashboardScroller">
    <h1 class="no-library-header">
      Looks like you haven't added a library yet. Let's add one!
    </h1>
    <p-button
      label="Add a Library"
      icon="pi pi-plus"
      styleClass="p-button-rounded p-button-outlined"
      (click)="createNewLibrary()">
    </p-button>
  </div>

  <ng-template #dashboardScroller>

    <app-dashboard-scroller
      [books]="lastReadBooks$ | async"
      [bookListType]="'lastRead'"
      [title]="'Last Read Books'">
    </app-dashboard-scroller>

    <app-dashboard-scroller
      [books]="latestAddedBooks$ | async"
      [title]="'Latest Added Books'">
    </app-dashboard-scroller>

    <app-dashboard-scroller
      [books]="randomBooks$ | async"
      [title]="'Some Random Books'">
    </app-dashboard-scroller>


  </ng-template>

</div>
