.dashboard-container {
  height: calc(100dvh - 6.7rem);
  overflow-y: auto;
}

.dashboard {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashboard .no-library-header {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.dashboard-no-library {
  margin-top: 3rem;
}

.dashboard .p-dialog {
  max-width: 90%;
}

::ng-deep .p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.5);
}

::ng-deep .p-dialog-mask {
  backdrop-filter: blur(3px);
}
