<form [formGroup]="bookMetadataForm" (ngSubmit)="onSave()" *ngIf="bookMetadata$ | async as metadata" class="pt-2 flex flex-col h-full">

  <div class="overflow-y-scroll flex-1">

    <div class="flex flex-row w-full gap-4">

      <img [src]="baseUrl + '/v1/book/' + metadata.bookId + '/cover?' + metadata?.coverUpdatedOn" alt="Image" width="225"/>

      <div class="flex flex-col flex-grow pl-2">

        <div class="flex flex-row w-full gap-4 pb-1">
          <div class="flex flex-col gap-1 w-2/3">
            <label for="title">Title</label>
            <input pInputText id="title" formControlName="title" class="w-full"/>
          </div>
          <div class="flex flex-col gap-1 w-1/3">
            <label for="subtitle">Subtitle</label>
            <input pInputText id="subtitle" formControlName="subtitle" class="w-full"/>
          </div>
        </div>

        <div class="flex flex-row w-full gap-4 mt-2 pb-1">
          <div class="flex flex-col gap-1 w-2/3">
            <label for="authors">Authors</label>
            <input pInputText id="authors" formControlName="authors" class="w-full"/>
          </div>
          <div class="flex flex-col gap-1 w-1/3">
            <label for="publisher">Publisher</label>
            <input pInputText id="publisher" formControlName="publisher" class="w-full"/>
          </div>
        </div>

        <div class="flex flex-row w-full gap-4 mt-2 pb-1">
          <div class="flex flex-col gap-1 w-2/3">
            <label for="categories">Categories</label>
            <input pInputText id="categories" formControlName="categories" class="w-full"/>
          </div>
          <div class="flex flex-col gap-1 w-1/3">
            <label for="publishedDate">Publish Date</label>
            <input pInputText id="publishedDate" formControlName="publishedDate" class="w-full"/>
          </div>
        </div>

        <!-- Language, ISBN 10, and ISBN 13 -->
        <div class="flex flex-row w-full gap-4 mt-2 pb-1">
          <div class="flex flex-col gap-1 w-1/3">
            <label for="language">Language</label>
            <input pInputText id="language" formControlName="language" class="w-full"/>
          </div>
          <div class="flex flex-col gap-1 w-1/3">
            <label for="isbn10">ISBN 10</label>
            <input pInputText id="isbn10" formControlName="isbn10" class="w-full"/>
          </div>
          <div class="flex flex-col gap-1 w-1/3">
            <label for="isbn13">ISBN 13</label>
            <input pInputText id="isbn13" formControlName="isbn13" class="w-full"/>
          </div>
        </div>

        <div class="flex flex-row w-full gap-4 mt-2 pb-1">
          <div class="flex flex-col gap-1 w-1/3">
            <label for="reviewCount">Review Count</label>
            <input pInputText id="reviewCount" formControlName="reviewCount" class="w-full"/>
          </div>
          <div class="flex flex-col gap-1 w-1/3">
            <label for="rating">Rating</label>
            <input pInputText id="rating" formControlName="rating" class="w-full"/>
          </div>
          <div class="flex flex-col gap-1 w-1/3">
            <label for="pageCount">Page Count</label>
            <input pInputText id="pageCount" formControlName="pageCount" class="w-full"/>
          </div>
        </div>

      </div>
    </div>

    <div class="flex flex-row w-full gap-4 mt-2 pb-1">
      <div class="flex flex-col gap-1 w-full">
        <label for="description">Description</label>
        <!--<p-editor class="w-full" formControlName="description" id="description" [style]="{ height: '18rem' }">
          <ng-template #header>
            <span class="ql-formats">
                <button type="button" class="ql-bold" aria-label="Bold"></button>
                <button type="button" class="ql-italic" aria-label="Italic"></button>
                <button type="button" class="ql-underline" aria-label="Underline"></button>
            </span>
          </ng-template>
        </p-editor>-->
        <textarea rows="12" pTextarea id="description" formControlName="description" class="w-full"></textarea>
      </div>
    </div>

  </div>

  <div class="flex flex-col gap-x-4 mt-auto">
    <p-divider></p-divider>
    <div class="flex gap-x-4 justify-end">
      <p-button label="Cancel" icon="pi pi-times" severity="secondary" (onClick)="closeDialog()"></p-button>
      <p-button label="Save" icon="pi pi-check" type="submit"></p-button>
    </div>
  </div>

</form>
