.no-books-text {
  font-size: 1rem;
  color: var(--text-color);
}

.no-books-container {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.virtual-scroller {
  width: 100%;
  height: calc(100vh - 11.5rem);
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.virtual-scroller-item {
  height: 220px;
  width: 135px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 1.3rem;
  overflow: hidden;
  align-items: start;
}

.book-browser-footer {
  position: absolute;
  bottom: 0;
  left: 32%;
  right: 32%;
  display: flex;
  justify-content: center;
  padding: 1.1rem;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 10px 10px 0 0;
}

.book-browser-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: -1;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-width: 1px 1px 0px 1px;
}

.book-browser-footer > * {
  pointer-events: auto;
}

.book-browser-footer:hover::before {
  pointer-events: none;
}

