<form [formGroup]="metadataForm" (ngSubmit)="onSave()" class="h-full flex pt-1 flex-col">
  <div class="overflow-y-scroll flex-1">

    <div class="flex justify-center items-center" [ngStyle]="{'padding-bottom': '0.75rem', 'padding-left': '4.95rem'}">
      <p class="ml-3">Current Metadata</p>
      <p-button
        severity="info"
        icon='pi pi-angle-double-left'
        [ngStyle]="{'padding-left': '2rem', 'padding-right': '2rem'}"
        [outlined]="true"
        pTooltip="Select all missing field" tooltipPosition="bottom"
        (onClick)="copyMissing()"></p-button>
      <p>Fetched Metadata</p>
    </div>

    <div class="form-row">
      <label for="title" class="label">Title</label>
      <div class="input-container">
        <input pInputText id="title" formControlName="title" class="input"/>
        <p-button
          [icon]="isValueSaved('title') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('title'), 'yellow-outlined-button': isValueCopied('title')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('title')"/>
        <input pInputText [value]="fetchedMetadata.title" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="authors" class="label">Authors</label>
      <div class="input-container">
        <input pInputText id="authors" formControlName="authors" class="input"/>
        <p-button
          [icon]="isValueSaved('authors') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('authors'), 'yellow-outlined-button': isValueCopied('authors')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('authors')"/>
        <input pInputText [value]="fetchedAuthorsString()" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="categories" class="label">Categories</label>
      <div class="input-container">
        <input pInputText id="categories" formControlName="categories" class="input"/>
        <p-button
          [icon]="isValueSaved('categories') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('categories'), 'yellow-outlined-button': isValueCopied('categories')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('categories')"/>
        <input pInputText [value]="fetchedCategoriesString()" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="publisher" class="label">Publisher</label>
      <div class="input-container">
        <input pInputText id="publisher" formControlName="publisher" class="input"/>
        <p-button
          [icon]="isValueSaved('publisher') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('publisher'), 'yellow-outlined-button': isValueCopied('publisher')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('publisher')"/>
        <input pInputText [value]="fetchedMetadata.publisher" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="publishedDate" class="label">Published</label>
      <div class="input-container">
        <input pInputText id="publishedDate" formControlName="publishedDate" class="input"/>
        <p-button
          [icon]="isValueSaved('publishedDate') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('publishedDate'), 'yellow-outlined-button': isValueCopied('publishedDate')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('publishedDate')"/>
        <input pInputText [value]="fetchedMetadata.publishedDate" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="isbn10" class="label">ISBN-10</label>
      <div class="input-container">
        <input pInputText id="isbn10" formControlName="isbn10" class="input"/>
        <p-button
          [icon]="isValueSaved('isbn10') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('isbn10'), 'yellow-outlined-button': isValueCopied('isbn10')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('isbn10')"/>
        <input pInputText [value]="fetchedMetadata.isbn10" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="language" class="label">Language</label>
      <div class="input-container">
        <input pInputText id="language" formControlName="language" class="input"/>
        <p-button
          [icon]="isValueSaved('language') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('language'), 'yellow-outlined-button': isValueCopied('language')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('language')"/>
        <input pInputText [value]="fetchedMetadata.language" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="description" class="label">Description</label>
      <div class="input-container">
        <textarea id="description" formControlName="description" class="input"></textarea>
        <p-button
          [icon]="isValueSaved('description') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('description'), 'yellow-outlined-button': isValueCopied('description')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('description')"/>
        <textarea [value]="fetchedMetadata.description" class="input" readonly></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="label"></label>
      <div class="input-container">
        <img *ngIf="!updateThumbnailUrl" [src]="coverImageSrc(currentBookId)" alt="Book Thumbnail" class="thumbnail"/>
        <img *ngIf="updateThumbnailUrl" [src]="fetchedMetadata.thumbnailUrl" alt="Fetched Thumbnail" class="thumbnail"/>
        <p-button
          [icon]="thumbnailSaved ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': thumbnailSaved, 'yellow-outlined-button': updateThumbnailUrl}"
          class="arrow-button"
          (click)="shouldUpdateThumbnail()"/>
        <img [src]="fetchedMetadata.thumbnailUrl" alt="Fetched Thumbnail" class="thumbnail"/>
      </div>
    </div>

    <div class="form-row">
      <label for="isbn13" class="label">ISBN-13</label>
      <div class="input-container">
        <input pInputText id="isbn13" formControlName="isbn13" class="input"/>
        <p-button
          [icon]="isValueSaved('isbn13') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('isbn13'), 'yellow-outlined-button': isValueCopied('isbn13')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('isbn13')"/>
        <input pInputText [value]="fetchedMetadata.isbn13" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="rating" class="label">Rating</label>
      <div class="input-container">
        <input pInputText id="rating" formControlName="rating" class="input"/>
        <p-button
          [icon]="isValueSaved('pageCount') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('rating'), 'yellow-outlined-button': isValueCopied('rating')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('rating')"/>
        <input pInputText [value]="fetchedMetadata.rating" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="reviewCount" class="label">Rating</label>
      <div class="input-container">
        <input pInputText id="reviewCount" formControlName="reviewCount" class="input"/>
        <p-button
          [icon]="isValueSaved('reviewCount') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('reviewCount'), 'yellow-outlined-button': isValueCopied('reviewCount')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('reviewCount')"/>
        <input pInputText [value]="fetchedMetadata.reviewCount" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="pageCount" class="label">Pages</label>
      <div class="input-container">
        <input pInputText id="pageCount" formControlName="pageCount" class="input"/>
        <p-button
          [icon]="isValueSaved('pageCount') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('pageCount'), 'yellow-outlined-button': isValueCopied('pageCount')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('pageCount')"/>
        <input pInputText [value]="fetchedMetadata.pageCount" class="input" readonly/>
      </div>
    </div>

    <div class="flex justify-center items-center" [ngStyle]="{'padding-bottom': '0.75rem', 'padding-left': '4.95rem'}">
      <p class="ml-3">Current Metadata</p>
      <p-button
        severity="info"
        icon='pi pi-angle-double-left'
        [ngStyle]="{'padding-left': '2rem', 'padding-right': '2rem'}"
        [outlined]="true"
        pTooltip="Select all missing field" tooltipPosition="top"
        (onClick)="copyMissing()"></p-button>
      <p>Fetched Metadata</p>
    </div>

  </div>

  <div class="flex flex-col gap-x-4 mt-auto">
    <p-divider></p-divider>
    <div class="flex justify-between">
      <p-button label="Back" icon="pi pi-arrow-left" severity="info" (onClick)="goBackClick()"></p-button>
      <div class="flex gap-x-4 justify-end">
        <p-button label="Close" icon="pi pi-times" severity="secondary" (onClick)="closeDialog()"></p-button>
        <p-button label="Save" icon="pi pi-check" severity="primary" type="submit"></p-button>
      </div>
    </div>
  </div>

</form>
