<form [formGroup]="metadataForm" (ngSubmit)="onSave()" *ngIf="bookMetadata$ | async as metadata" class="h-full flex pt-1 flex-col">
  <div class="overflow-y-scroll flex-1">

    <div class="flex justify-center items-center" [ngStyle]="{'padding-bottom': '0.75rem', 'padding-left': '4.95rem'}">
      <p class="ml-3">Current Metadata</p>
      <p-button
        severity="info"
        icon='pi pi-angle-double-left'
        [ngStyle]="{'padding-left': '2rem', 'padding-right': '2rem'}"
        [outlined]="true"
        pTooltip="Select all missing field" tooltipPosition="bottom"
        (onClick)="copyMissing()"></p-button>
      <p>Fetched Metadata</p>
    </div>

    <div class="form-row">
      <label for="title" class="label">Title</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['titleLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('title')" severity="success"></p-button>
        <p-button *ngIf="metadata['titleLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('title')" severity="warn"></p-button>
        <input pInputText id="title" formControlName="title" class="input"/>
        <p-button
          [icon]="isValueSaved('title') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('title'), 'yellow-outlined-button': isValueCopied('title')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('title')"/>
        <input pInputText [value]="fetchedMetadata.title ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="authors" class="label">Authors</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['authorsLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('authors')" severity="success"></p-button>
        <p-button *ngIf="metadata['authorsLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('authors')" severity="warn"></p-button>
        <input pInputText id="authors" formControlName="authors" class="input"/>
        <p-button
          [icon]="isValueSaved('authors') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('authors'), 'yellow-outlined-button': isValueCopied('authors')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('authors')"/>
        <input pInputText [value]="fetchedAuthorsString()" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="categories" class="label">Categories</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['categoriesLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('categories')" severity="success"></p-button>
        <p-button *ngIf="metadata['categoriesLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('categories')" severity="warn"></p-button>
        <input pInputText id="categories" formControlName="categories" class="input"/>
        <p-button
          [icon]="isValueSaved('categories') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('categories'), 'yellow-outlined-button': isValueCopied('categories')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('categories')"/>
        <input pInputText [value]="fetchedCategoriesString()" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="publisher" class="label">Publisher</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['publisherLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('publisher')" severity="success"></p-button>
        <p-button *ngIf="metadata['publisherLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('publisher')" severity="warn"></p-button>
        <input pInputText id="publisher" formControlName="publisher" class="input"/>
        <p-button
          [icon]="isValueSaved('publisher') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('publisher'), 'yellow-outlined-button': isValueCopied('publisher')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('publisher')"/>
        <input pInputText [value]="fetchedMetadata.publisher ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="publishedDate" class="label">Published</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['publishedDateLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('publishedDate')" severity="success"></p-button>
        <p-button *ngIf="metadata['publishedDateLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('publishedDate')" severity="warn"></p-button>
        <input pInputText id="publishedDate" formControlName="publishedDate" class="input"/>
        <p-button
          [icon]="isValueSaved('publishedDate') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('publishedDate'), 'yellow-outlined-button': isValueCopied('publishedDate')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('publishedDate')"/>
        <input pInputText [value]="fetchedMetadata.publishedDate ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="isbn10" class="label">ISBN-10</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['isbn10Locked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('isbn10')" severity="success"></p-button>
        <p-button *ngIf="metadata['isbn10Locked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('isbn10')" severity="warn"></p-button>
        <input pInputText id="isbn10" formControlName="isbn10" class="input"/>
        <p-button
          [icon]="isValueSaved('isbn10') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('isbn10'), 'yellow-outlined-button': isValueCopied('isbn10')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('isbn10')"/>
        <input pInputText [value]="fetchedMetadata.isbn10 ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="language" class="label">Language</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['languageLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('language')" severity="success"></p-button>
        <p-button *ngIf="metadata['languageLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('language')" severity="warn"></p-button>
        <input pInputText id="language" formControlName="language" class="input"/>
        <p-button
          [icon]="isValueSaved('language') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('language'), 'yellow-outlined-button': isValueCopied('language')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('language')"/>
        <input pInputText [value]="fetchedMetadata.language ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="description" class="label">Description</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['descriptionLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('description')" severity="success"></p-button>
        <p-button *ngIf="metadata['descriptionLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('description')" severity="warn"></p-button>
        <textarea id="description" formControlName="description" class="input"></textarea>
        <p-button
          [icon]="isValueSaved('description') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('description'), 'yellow-outlined-button': isValueCopied('description')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('description')"/>
        <textarea [value]="fetchedMetadata.description ?? null" class="input" readonly></textarea>
      </div>
    </div>

    <div class="form-row">
      <label class="label"></label>
      <div class="input-container">
        <p-button *ngIf="!metadata['coverLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('thumbnailUrl')" severity="success"></p-button>
        <p-button *ngIf="metadata['coverLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('thumbnailUrl')" severity="warn"></p-button>
        <img [src]="metadataForm.get('thumbnailUrl')?.value" alt="Book Thumbnail" class="thumbnail"/>
        <input type="hidden" id="thumbnailUrl" formControlName="thumbnailUrl" class="input"/>
        <p-button
          [icon]="isValueSaved('thumbnailUrl') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('thumbnailUrl'), 'yellow-outlined-button': isValueCopied('thumbnailUrl')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('thumbnailUrl')"/>
        <input type="hidden" [value]="fetchedMetadata.thumbnailUrl" class="input" readonly/>
        <img [src]="fetchedMetadata.thumbnailUrl ?? null" alt="Fetched Thumbnail" class="thumbnail"/>
      </div>
    </div>


    <div class="form-row">
      <label for="seriesName" class="label">Series</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['seriesNameLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('seriesName')" severity="success"></p-button>
        <p-button *ngIf="metadata['seriesNameLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('seriesName')" severity="warn"></p-button>
        <input pInputText id="seriesName" formControlName="seriesName" class="input"/>
        <p-button
          [icon]="isValueSaved('seriesName') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('seriesName'), 'yellow-outlined-button': isValueCopied('seriesName')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('seriesName')"/>
        <input pInputText [value]="fetchedMetadata.seriesName ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="seriesNumber" class="label">Book #</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['seriesNumberLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('seriesNumber')" severity="success"></p-button>
        <p-button *ngIf="metadata['seriesNumberLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('seriesNumber')" severity="warn"></p-button>
        <input pInputText id="seriesNumber" formControlName="seriesNumber" class="input"/>
        <p-button
          [icon]="isValueSaved('seriesNumber') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('seriesNumber'), 'yellow-outlined-button': isValueCopied('seriesNumber')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('seriesNumber')"/>
        <input pInputText [value]="fetchedMetadata.seriesNumber ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="seriesTotal" class="label">Total Books</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['seriesTotalLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('seriesTotal')" severity="success"></p-button>
        <p-button *ngIf="metadata['seriesTotalLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('seriesTotal')" severity="warn"></p-button>
        <input pInputText id="seriesTotal" formControlName="seriesTotal" class="input"/>
        <p-button
          [icon]="isValueSaved('seriesTotal') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('seriesTotal'), 'yellow-outlined-button': isValueCopied('seriesTotal')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('seriesTotal')"/>
        <input pInputText [value]="fetchedMetadata.seriesTotal ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="isbn13" class="label">ISBN-13</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['isbn13Locked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('isbn13')" severity="success"></p-button>
        <p-button *ngIf="metadata['isbn13Locked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('isbn13')" severity="warn"></p-button>
        <input pInputText id="isbn13" formControlName="isbn13" class="input"/>
        <p-button
          [icon]="isValueSaved('isbn13') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('isbn13'), 'yellow-outlined-button': isValueCopied('isbn13')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('isbn13')"/>
        <input pInputText [value]="fetchedMetadata.isbn13 ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="rating" class="label">Rating</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['ratingLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('rating')" severity="success"></p-button>
        <p-button *ngIf="metadata['ratingLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('rating')" severity="warn"></p-button>
        <input pInputText id="rating" formControlName="rating" class="input"/>
        <p-button
          [icon]="isValueSaved('pageCount') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('rating'), 'yellow-outlined-button': isValueCopied('rating')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('rating')"/>
        <input pInputText [value]="fetchedMetadata.rating ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="reviewCount" class="label">Reviews</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['reviewCountLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('reviewCount')" severity="success"></p-button>
        <p-button *ngIf="metadata['reviewCountLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('reviewCount')" severity="warn"></p-button>
        <input pInputText id="reviewCount" formControlName="reviewCount" class="input"/>
        <p-button
          [icon]="isValueSaved('reviewCount') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('reviewCount'), 'yellow-outlined-button': isValueCopied('reviewCount')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('reviewCount')"/>
        <input pInputText [value]="fetchedMetadata.reviewCount ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="form-row">
      <label for="pageCount" class="label">Pages</label>
      <div class="input-container">
        <p-button *ngIf="!metadata['pageCountLocked']" icon="pi pi-lock-open" [outlined]="true" (onClick)="toggleLock('pageCount')" severity="success"></p-button>
        <p-button *ngIf="metadata['pageCountLocked']" icon="pi pi-lock" [outlined]="true" (onClick)="toggleLock('pageCount')" severity="warn"></p-button>
        <input pInputText id="pageCount" formControlName="pageCount" class="input"/>
        <p-button
          [icon]="isValueSaved('pageCount') ? 'pi pi-check' : 'pi pi-arrow-left'"
          [outlined]="true"
          [ngClass]="{'green-outlined-button': isValueSaved('pageCount'), 'yellow-outlined-button': isValueCopied('pageCount')}"
          class="arrow-button"
          (click)="copyFetchedToCurrent('pageCount')"/>
        <input pInputText [value]="fetchedMetadata.pageCount ?? null" class="input" readonly/>
      </div>
    </div>

    <div class="flex justify-center items-center" [ngStyle]="{'padding-bottom': '0.75rem', 'padding-left': '4.95rem'}">
      <p class="ml-3">Current Metadata</p>
      <p-button
        severity="info"
        icon='pi pi-angle-double-left'
        [ngStyle]="{'padding-left': '2rem', 'padding-right': '2rem'}"
        [outlined]="true"
        pTooltip="Select all missing field" tooltipPosition="top"
        (onClick)="copyMissing()"></p-button>
      <p>Fetched Metadata</p>
    </div>

  </div>

  <div class="flex flex-col gap-x-4 mt-auto">
    <p-divider></p-divider>
    <div class="flex justify-between">
      <p-button label="Back" icon="pi pi-arrow-left" severity="info" (onClick)="goBackClick()"></p-button>
      <div class="flex gap-x-4 justify-end">
        <p-button label="Unlock All" icon="pi pi-lock-open" [outlined]="true" severity="success" (onClick)="unlockAll()"></p-button>
        <p-button label="Lock All" icon="pi pi-lock" [outlined]="true" severity="warn" (onClick)="lockAll()"></p-button>
        <p-divider layout="vertical"/>
        <p-button label="Close" icon="pi pi-times" severity="secondary" (onClick)="closeDialog()"></p-button>
        <p-button label="Save" icon="pi pi-check" type="submit"></p-button>
      </div>
    </div>
  </div>

</form>
