<div class="flex flex-col space-y-6 p-4">
  <table class="min-w-full table-auto border-collapse custom-table">
    <thead>
    <tr>
      <th class="px-4 py-2 text-left font-semibold text-gray-300">Book Field</th>
      <th class="px-4 py-2 text-left font-semibold text-gray-300">Base</th>
      <th class="px-4 py-2 text-left font-semibold text-gray-300">Higher Precedence</th>
      <th class="px-4 py-2 text-left font-semibold text-gray-300">Highest Precedence</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td class="px-4 py-2 text-gray-300"></td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="defaultProvider.value"
                  (onChange)="syncProvider($event, 'defaultProvider')"
                  [placeholder]="defaultProvider.placeholder"
                  class="w-full">
        </p-select>
      </td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="higherPriorityProvider.value"
                  (onChange)="syncProvider($event, 'higherPriorityProvider')"
                  [placeholder]="higherPriorityProvider.placeholder"
                  class="w-full">
        </p-select>
      </td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="highestPriorityProvider.value"
                  (onChange)="syncProvider($event, 'highestPriorityProvider')"
                  [placeholder]="highestPriorityProvider.placeholder"
                  class="w-full">
        </p-select>
      </td>
    </tr>

    <tr *ngFor="let field of fields" [hidden]="field === 'cover' && !refreshCovers">
      <td class="px-4 py-2 text-gray-300">{{ field | titlecase }}</td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="tableState[field].defaultProvider"
                  (onChange)="individualProviderChanged('defaultProvider')"
                  placeholder="Unset"
                  class="w-full">
        </p-select>
      </td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="tableState[field].higherPriorityProvider"
                  (onChange)="individualProviderChanged('higherPriorityProvider')"
                  placeholder="Unset"
                  class="w-full">
        </p-select>
      </td>
      <td class="px-4 py-2">
        <p-select [options]="providers" [(ngModel)]="tableState[field].highestPriorityProvider"
                  (onChange)="individualProviderChanged('highestPriorityProvider')"
                  placeholder="Unset"
                  class="w-full">
        </p-select>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="flex flex-row items-center justify-between">
    <div class="flex flex-row items-center gap-4 justify-start">
      <p>Refresh covers: </p>
      <p-checkbox [(ngModel)]="refreshCovers" [binary]="true"></p-checkbox>
    </div>
    <div class="flex flex-row gap-6">
      <p-button severity="warn" label="Reset"></p-button>
      <p-button label="Submit" (onClick)="submit()"></p-button>
    </div>

  </div>

</div>
