<div class="container pt-2 flex flex-col h-full">
  <div class="book-metadata-container flex-shrink-0" *ngIf="metadata$ | async as metadata">
    <div class="flex flex-row w-full">

      <img [src]="baseUrl + '/v1/book/' + metadata.bookId + '/cover?' + metadata?.coverUpdatedOn" class="book-cover placeholder" alt="Cover of {{ metadata.title }}" loading="lazy" width="225"/>

      <div class="pl-6 flex flex-col w-full space-y-4">
        <div class="flex flex-row items-center justify-between">
          <div>
            <p class="text-lg font-bold">{{ metadata.title }}</p>
            <div class="flex items-center gap-4 pt-1">
              <p-rating [(ngModel)]="metadata.rating" readonly stars="5"></p-rating>
              <p class="font-semibold">({{ metadata.reviewCount || 0 }} Reviews)</p>
            </div>
          </div>
          <div class="flex gap-4 pr-4">
            <p-button [rounded]="true" [raised]="true" severity="info" (onClick)="readBook(metadata.bookId)" icon="pi pi-eye"></p-button>
            <p-button [rounded]="true" [raised]="true" severity="info" icon="pi pi-download" (onClick)="download(metadata.bookId)"></p-button>
          </div>
        </div>

        <div class="flex items-center">
          <p class="font-semibold text-lg">Authors:</p>
          <div class="flex flex-wrap gap-2 ml-2">
            <p class="text-lg">
              {{ getAuthorNames(metadata?.authors || []) }}
            </p>
          </div>
        </div>

        <div class="grid grid-cols-2 gap-2">
          <p><span class="font-bold">Publisher:</span> {{ metadata.publisher || 'N/A' }}</p>
          <p><span class="font-bold">Published:</span> {{ metadata.publishedDate || 'Unknown' }}</p>
          <p><span class="font-bold">Language:</span> {{ metadata.language || 'Unknown' }}</p>
          <p><span class="font-bold">ISBN:</span> {{ metadata.isbn10 || 'Unknown' }}</p>
          <p><span class="font-bold">Page Count:</span> {{ metadata.pageCount || 'Unknown' }}</p>
        </div>

        <div class="flex flex-wrap gap-2">
          <p-tag *ngFor="let category of metadata.categories" [value]="category.name"></p-tag>
        </div>

      </div>
    </div>
  </div>

  <p-divider></p-divider>

  <div *ngIf="metadata$ | async as metadata" class="book-description space-y-4 overflow-y-auto flex-1">
    <p class="pt-2 px-2" [innerHTML]="metadata.description || 'No description available.'"></p>
    <!--<div class="pt-6">
      <p-editor [(ngModel)]="metadata.description" [style]="{ height: '350px' }" [readonly]="true">
        <ng-template #header>
        </ng-template>
      </p-editor>
    </div>-->
  </div>

  <div class="flex flex-col gap-x-4 mt-auto">
    <p-divider></p-divider>
    <div class="flex gap-x-4 justify-end">
      <p-button label="Close" icon="pi pi-times" severity="secondary" (onClick)="closeDialog()"></p-button>
    </div>
  </div>
</div>
