<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
    <span>BookLore</span>
  </a>

  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <div>
    <app-search></app-search>
  </div>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu">
    <button class="p-link layout-topbar-button"
            (click)="toggleEventDisplay()"
            (mouseenter)="onMouseEnter()"
            (mouseleave)="onMouseLeave()"
            [class.pulsating]="eventHighlight"
            [class.highlight]="eventHighlight">
      <i class="pi pi-wave-pulse"></i>
    </button>

    <div *ngIf="showEvents" class="live-event-container" (mouseleave)="onMouseLeave()">
      <p *ngIf="latestEvent.timestamp">{{ latestEvent.timestamp }}</p>
      <p>{{ latestEvent.message }}</p>
    </div>
    <button class="p-link layout-menu-button layout-topbar-button" (click)="openLibraryCreatorDialog()" pTooltip="Create New Library" tooltipPosition="top">
      <i class="pi pi-plus-circle"></i>
    </button>
    <button (click)="openFileUploadDialog()" class="p-link layout-topbar-button">
      <i class="pi pi-upload"></i>
      <span>Profile</span>
    </button>
    <div class="top-bar-app-theme-switcher">
      <app-theme-switcher></app-theme-switcher>
    </div>
  </div>
</div>
