.library-name-icon-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.library-name-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.library-icon-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.library-name-div label,
.library-icon-div label {
  margin-right: 0.5rem;
}

.library-name-div input {
  width: 200px;
}

.library-icon-div p-button {
  margin-left: 0.8rem;
}

.p-stepperPanel {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.p-stepperPanel .flex {
  display: flex;
}

.p-stepperPanel .justify-content-end {
  justify-content: flex-end;
}

.p-stepperPanel .mt-3 {
  margin-top: 1rem;
}

.p-table-custom {
  min-width: 35rem !important;
  max-height: 11.25rem !important;
  overflow: scroll;
}

.tr-custom {
  padding: 0.25rem 0.5rem !important;
  border: 0px !important;
}

.td-x-custom {
  text-align: right;
}

.w-100 {
  width: 100%;
}

.p-button {
  margin-left: 0.5rem;
}

.selected-icon-container {
  display: flex;
  align-items: center;
  margin-left: 1rem;

  i {
    color: var(--text-color);
  }

  .remove-icon-button {
    margin-left: 0.5rem;
  }
}

.stepper-content-custom {
  height: 335px;
  padding: 10px;
}

.p {
  color: var(--text-color);
}
