<div class="card">

  <div class="flex">
    <p-dropdown
      [options]="libraries"
      optionLabel="name"
      placeholder="Select Library"
      [(ngModel)]="selectedLibrary">
    </p-dropdown>
  </div>

  <div class="flex">
    <p-dropdown
      [options]="selectedLibrary?.paths"
      placeholder="Select Upload Location"
      [(ngModel)]="selectedPath"
      [disabled]="!selectedLibrary">
    </p-dropdown>
  </div>

  <div class="flex">
    <div class="button-container">
      <p-button
        severity="info"
        label="Choose"
        icon="pi pi-file"
        (click)="triggerFileInput(fileInput)"
        [disabled]="!selectedPath || isUploading">
      </p-button>
      <span *ngIf="selectedFileName" class="file-name">{{ selectedFileName }}</span>
    </div>
    <input
      type="file"
      #fileInput
      style="display: none;"
      (change)="onFileSelected($event)"
      [disabled]="!selectedPath || isUploading"/>
  </div>

  <div class="flex">
    <p-button
      [label]="isUploading ? 'Uploading...' : 'Upload'"
      [disabled]="!isFormValid() || isUploading"
      icon="pi pi-cloud-upload"
      (click)="uploadFile()">
    </p-button>
    <div class="error-message-container">
      <span *ngIf="errorMessage" class="error-message">{{ errorMessage }}</span>
    </div>
  </div>

</div>
