.flex {
  display: flex;
}

.flex + .flex {
  margin-top: 15px;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.file-name {
  font-weight: bold;
  color: var(--text-color-secondary);
}

.error-message-container {
  display: flex;
  align-items: center;
}

.error-message {
  color: var(--red-600);
  margin-left: 10px;
}
