<div class="search-container">
  <div class="search-input-wrapper">
    <i class="pi pi-search search-icon"></i>
    <input
      style="width: 400px;"
      type="text"
      pInputText
      [(ngModel)]="searchQuery"
      (input)="onSearchInputChange()"
      placeholder="Search books..."
      class="search-input"
    />
    <p-button *ngIf="searchQuery" icon="pi pi-times" (click)="clearSearch()" [text]="true" [rounded]="true" class="clear-btn" aria-label="Clear Search"></p-button>
  </div>

  <div class="search-dropdown layout-menu pt-4" [class.show]="(books.length > 0)">
    <ng-container *ngIf="books.length > 0; else noResults">
      <div class="search-dropdown-item flex flex-col" *ngFor="let book of books" (click)="onBookClick(book)">
        <div class="flex flex-row w-full px-2">
          <img [src]="getBookCoverUrl(book.id)" alt="Book Cover" class="search-book-cover"/>
          <div class="search-book-details">
            <div class="flex items-center">
              <p class="search-book-name text-lg font-medium truncate">{{ book.metadata?.title | slice:0:70 }}</p>
            </div>
            <div *ngIf="book.metadata?.authors?.length ?? 0 > 0" class="search-book-authors">
              <p class="italic">by: {{ getAuthorNames(book.metadata?.authors) }}</p>
            </div>
          </div>
        </div>
        <p-divider></p-divider>
      </div>
    </ng-container>

    <ng-template #noResults>
      <div class="search-dropdown-item">
        <span>No results found</span>
      </div>
    </ng-template>
  </div>
</div>
