<div
  *ngIf="(libraryState$ | async)?.libraries as libraries"
  class="flex flex-col gap-10 p-4 items-center justify-center min-w-[400px] max-w-[600px] w-full">

  <p-select
    [options]="libraries"
    optionLabel="name"
    placeholder="Select Library"
    [(ngModel)]="selectedLibrary"
    class="w-full"></p-select>

  <p-select
    [options]="selectedLibrary?.paths"
    optionLabel="path"
    placeholder="Select Upload Location"
    [(ngModel)]="selectedPath"
    [disabled]="!selectedLibrary"
    class="w-full"></p-select>

  <p-fileupload
    #fu
    mode="basic"
    chooseLabel="Choose"
    chooseIcon="pi pi-file"
    uploadIcon="pi pi-file"
    name="file"
    [url]="getUploadUrl()"
    accept=".pdf,.epub"
    maxFileSize="104857600"
    (onSelect)="onSelect()"
    (onClear)="onClear($event)"
    (onUpload)="onUpload($event)"
    (onProgress)="onProgress($event)"
    (onSend)="onSend($event)"
    (onError)="onError($event)"
    [disabled]="!selectedLibrary || !selectedPath || isUploading"
    class="w-full">
  </p-fileupload>

  <div class="flex flex-row items-center justify-between w-full">

    <div class="flex flex-row items-center gap-4">
      <p-button
        icon="pi pi-upload"
        label="Upload"
        (onClick)="fu.upload()"
        severity="info"
        [disabled]="!fu.files.length || isUploading"/>
      <p *ngIf="isUploading" class="text-base">Progress: {{ progressPercent }}%</p>
      <p *ngIf="errorMessage" class="text-base text-red-600">{{ errorMessage }}</p>
    </div>

    <p-button
      icon="pi pi-times"
      label="Clear"
      (click)="fu.clear()"
      severity="warn"
      [hidden]="!fu.files.length || isUploading"/>
  </div>
</div>
