<div class="dialog-container">
  <div class="checkbox-list">
    <div *ngFor="let shelf of (shelfState$ | async)?.shelves" class="flex items-center">
      <p-checkbox [inputId]="shelf.name" name="group" [value]="shelf" [(ngModel)]="selectedShelves"></p-checkbox>
      <label [for]="shelf.id" class="ml-2">{{ shelf.name }}</label>
    </div>
  </div>

  <div class="bottom-section">
    <p-divider></p-divider>
    <div class="bottom-container">
      <p-button outlined="true" label="Create Shelf" (onClick)="createShelfDialog()"></p-button>
      <div>
        <p-button class="spacing-right" severity="secondary" label="Cancel" (onClick)="closeDialog()"></p-button>
        <p-button label="Save" (onClick)="updateBooksShelves()"></p-button>
      </div>
    </div>
  </div>

  <app-icon-picker (iconSelected)="onIconSelected($event)"></app-icon-picker>
  <p-dialog [(visible)]="displayShelfDialog" header="Create Shelf" [modal]="true" [draggable]="false" [closable]="true" (onHide)="closeShelfDialog()" [style]="{ width: '400px', height: 'auto' }">
    <div class="p-fluid">
      <div class="field">
        <label for="shelfName">Shelf Name</label>
        <input id="shelfName" type="text" pInputText [(ngModel)]="shelfName" />
      </div>
      <div class="field">
        <label>Shelf Icon</label>
        <div *ngIf="!selectedIcon">
          <p-button label="Select Icon" icon="pi pi-search" (onClick)="openIconPicker()"></p-button>
        </div>
        <div *ngIf="selectedIcon" class="mt-2 flex align-items-center">
          <i [class]="selectedIcon" class="mr-2"></i>
          <p-button label="Remove" icon="pi pi-times" text="true" outlined="true" severity="warn" (onClick)="clearSelectedIcon()"></p-button>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <p-button label="Cancel" severity="secondary" (onClick)="closeShelfDialog()" class="p-button-text"></p-button>
      <p-button label="Save" (onClick)="saveNewShelf()"></p-button>
    </ng-template>
  </p-dialog>
</div>
